
.footer {
 position: absolute;
 bottom: 10px;
 width: 100%;
 margin: 0 auto;
}

.p {
 position: absolute;
 bottom: 10px;
 width: 100%;
 margin: 0 auto;
}

header {
 display: flex;
 justify-content: space-between;
}

.nav {
 list-style-type: none;
}

.nav li {
 display: inline;
}

.nav a {
 height: 1rem;
 color: #1e1e1e;
 text-decoration: none;
 font-size: 1.5rem;
 background-color: aqua;
 padding: 5px 10px;
 margin: 3px;
 border-radius: 5px;
}

.logo {
 width: 50px;
 height: 50px;
 align-items: center;
}